.wrapper {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.button {
  padding: 8px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
